$black: #2E3338;
$darkBlack: #090A0B;
$viola: #8944AB;
$backViols: #E4DAFF;
$darkBlue: #0040DD;
$middleGray: #DCDFE3;
$textGray: #AEAEB2;
$gray: rgba(46, 51, 56, 0.9);
$green: #248A3D;
$red: #D70015;
$lightBlue: #D9EBFF;
$blueHover: #007AFF;
$blue: #409CFF;
$white: #FFFFFF;
$clearGray: #F6F7F8;
$yellow: #F5E23D;
$clearWhite: #FAFAFA;
$darkGray: #22262A;
